@mixin titulo ($mrg) {
    font-family: 'Merriweather', serif;
    margin: ($mrg);
}

//variables
$padd: 4rem;
//estilos
body {
    font-family: 'Raleway', sans-serif;
    nav {
        padding: 0 1rem;
        a.brand-logo {
            padding-top: 1vh;
            img {
                width: auto;
                max-height: 6vh;
            }
        }
    }
    #inicio {
        background-image: url(../img/libro.png);
        background-size: cover;
        background-position: center;
        padding: $padd;
    }
    #beneficios {
        padding: 4rem 0 0;
        h3 {
            @include titulo (4rem 0);
        }
        .col.s12.m4 {
            padding: $padd;
            .card {
                .card-reveal {
                    padding-top: 2rem;
                }
            }
        }
    }
    #servicios {
        padding: $padd 0;
        background-color: #e7e6e6;
        background-image: url(../img/cajasimple3.png);
        background-size: cover;
        background-position: bottom;
        .row {
            margin: 2rem 0;
            h3 {
                @include titulo (0 0 4rem);
            }
            .col.s6.m3 {
                padding: $padd;
            }
            h4 {
                margin: 3rem 0 0;
            }
        }
    }
    #pago {
        padding: $padd;
        blockquote {
            border-left: 5px solid #ffb300;
        }
    }
    footer {
        padding: $padd 0;
        hr {
            border: 2px solid #5d00a2;
            margin: 3rem 0;
        }
        a.whatsapp {
            font-size: 2rem;
            font-family: sans-serif;
        }
        a.btn-floating.grey {
            margin-top: 2rem;
        }
    }
    .modal {
        padding: $padd;
    }
}
